*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: $mobile-font;
    text-align: center;
    font-weight: 400;
}

body.show-focus-outline a:focus,
body.show-focus-outline button:focus,
body.show-focus-outline input:focus,
body.show-focus-outline select:focus,
body.show-focus-outline textarea:focus,
body.show-focus-outline .icon:focus {
  outline: 2px solid blue;
}

h3 {
    @include mobileFontH3;
    font-weight: 600;
}

h4 {
    font-size: $mobile-font-h4;
}





