html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: $mobile-font;
    text-align: center;
    font-weight: 100;
}

h3 {
    @include mobileFontH3;
    font-weight: 600;
}

h4 {
    font-size: $mobile-font-h4;
}

