
@media screen and (min-width:1081px) and (max-width:1440px) {

    /* Start of header */
    
        header {
            background-color: $hdr-ftr-bg;
            box-shadow: 0px 2px 4px rgba(87, 87, 87, 0.4);
            padding: 0.75em 0 0.75em 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3;

            .nav-section {
                align-items: center;
                color: $font-color1;
                display: flex;
                margin: auto;
                width: 90%;

                #logo {
                    z-index: 2;
                    @include alignCenterRow;
                
                    img {
                        max-width: 33px;
                        height: auto;
                        min-width: 33px;
                        transition: transform 0.3s ease;
                    }

                    &:hover img {
                        cursor: pointer;
                        transform: rotate(90deg);
                    }
                }

                #menu-toggle {
                    display: none;
                }
                
                .hamburger {
                    display: none;
                }

                .slide-menu {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 2rem;
                    width: 100%;

                    .nav-bar-links {
                        @include alignCenterRow;

                        li {

                            a {
                                padding: 0.5em 0em 0.5em 0.5em;
                                margin-left: 1em;
                                color: $font-color1;
                                transition: color 0.3s ease;
                                font-size: 2rem;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .menu-send-message {
                            display: none;
                        }
                    }

                    .my-address {
                        display: none;
                    }
                }

                .mobile-footer {
                    display:  none;
                }
            }
        }
            
        
        /* End of Header Section */
        
        /* Start of Hero Section */
        
        
        .hero-section {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(220, 220, 220), rgb(186, 186, 186), rgb(160, 160, 160));
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 4em 0em;
            
            .hero-container {
                color: $font-color1;
                display: flex;
                flex-direction: row;
                font-size: $mobile-font;
                width: 80%;
                height: auto;
                color: #16181a;
    
                .hero-details {
                    width: 60%;
                    @include align;
                    justify-content: center;
                    margin-right: 2em;
                    
                    p, h2 {
                        line-height: 1.7em;
                        margin-bottom: 0.5em;
                        text-align: left;
                        font-size: 2.5rem;

                        &:nth-child(2) {
                            font-style: italic;
                        }

                        & + h2 {
                            margin-top: 2em;
                            font-size: 2rem;
                        }
                    }
    
                    h1 {
                        font-size: 5rem;
                        font-weight: 600;
                        margin-bottom: 0.3em;
                        text-align: left;
                    }
    
                    .buttons {
                        display: none;
                    }
                }
    
                .hero-img {
                    margin-top: 2em;
                    margin-bottom: 4em;
                    max-width: 40%;
                    height: auto;
                }
            }
    
            #buttons2 {
                display: none;
            }
        }
            
        
        /* End of Hero Section */
            
        /* Start of Project Section */
        
        
        #projects.projects-section {
            background-color: rgb(160, 160, 160);
            padding: 0em 0em 3em;
            @include align;
            align-items: center;
            padding-bottom: 5em;

            h3 {
                margin-bottom: 1em;
            }
          
            h4 {
                margin-bottom: 4em;
                font-size: 2.5rem;
            }
          
            .featured-projects {
                position: relative;
                overflow: hidden;
                min-width: 80%;
          
                .carousel {
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    margin: auto;
            
                    .project-a,
                    .project-b,
                    .project-c {
                        padding: 1em;
                        @include alignCenter;
                        transition: background-color 0.3s ease;
                        position: relative;
                        width: 100%;

                        &.project-b {
                            margin: 0em 1em;
                        }
                            
                        &:hover {
                            background-color: #b9b9b93d;
                            
                            img {
                                transform: scale(1.2);
                            }

                            cursor: pointer;
                        }
                
                        img {
                            max-width: 100%;
                            height: auto;
                            margin-bottom: 1em;
                            transition: transform 0.3s ease;
                        }
    
                        p {
                            display: flex;
                            text-align: center;
                            font-size: 2rem;
                            width: 90%;
                            justify-content: center;
                            height: 10em;
                            text-align: center;
                        }
                
                        .buttons-a,
                        .buttons-b,
                        .buttons-c {
                            display: none;
                        }
                
                        .doc-options {
                            display: none;
                            opacity: 0;
                            position: absolute;
                            flex-direction: column;
                            margin-left: 50%;
                            background-color: #303030;
                            font-size: 1.6rem;
                            padding: 8em 0em;
                            z-index: 2;
                            transition: opacity 0.3s ease;
                            width: 50%;
                        
                            a {
                                display: flex;
                                flex-direction: column;
                                text-align: left;
                                padding: 0.5em 0.5em;
                                background-color: #303030;
                                width: 100%;
                                transition: background-color 0.3s ease;
                                color: $font-color1;
                                z-index: 2;
                                font-size: 1.6rem;

                                @media screen and (min-width:1285px) {
                                    font-size: 2rem;
                                }
                    
                                &:hover {
                                    cursor: pointer;
                                    color: #fbc000;
                                }
                            }
                        }  
                    }
                }
            }

            h4:nth-of-type(2),
            h4:nth-of-type(3) {
                display: none;
            }
        
            .personal-projects {
                display: none;
            }
            
        }
        
        @media screen and (min-width: 1081px) and (max-width: 1440px) and (min-height: 601px) and (max-height: 800px) {
            
            $carouselWidth: 100%;
        
            #projects.projects-section {
                height: auto;
                background-color: #eaeaea;
                padding: 5em 0em;
                @include alignCenter;
            
                h4 {
                margin-bottom: 2em;
                }
            
                .featured-projects {
                    overflow: hidden;
                    width: 100%;
                    height: auto; /* Adjust the height as needed */
                
                    .carousel {
                        display: flex;
                        width: $carouselWidth;
                        scroll-behavior: smooth;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        scroll-snap-type: x mandatory;
                        scrollbar-width: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                
                        .project-a,
                        .project-b,
                        .project-c {
                            flex: 0 0 $carouselWidth;
                            scroll-snap-align: start;
                            padding: 1em 0em;
                            @include alignCenter;
                            min-width: 90%;
                            
                            img {
                                max-width: 100%;
                                height: auto;
                                margin-bottom: 0em;
                            }
                
                            p {
                                display: none;
                            }
                
                            .buttons-a,
                            .buttons-b,
                            .buttons-c {
                                display: none;
                            }
                
                            .doc-options {
                                display: none;
                
                                a {
                                    display: none;
                                }
                            }
                        }
                    }
                
                    .indicators {
                        display: flex;
                        justify-content: center;
                        margin-top: 1em;
                        height: 10px; /* Set a specific height for indicators */
                
                        .indicator {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: gray;
                            margin: 0 5px;
                
                            &.active {
                                background-color: black;
                            }
                        }
                    }
                }
                

                h4:nth-of-type(2) {
                    display: none;
                }

                .personal-projects {
                    display: none;
                }

                h4:last-of-type {
                    display: none;
                }
            }
        }
        
        /* End of Project Section */
    
    
        /* Start of About Section */
        
        
        #aboutmyself.aboutmyself {
            @include align;
            color: $font-color1;
            padding: 5em 5% 5em;
            background-color: $hdr-ftr-bg;
            width: 100%;
            margin: auto;
            
    
            h3 {
                margin-bottom: 1em;
            }
    
            .about-me-container {
                display: flex;
                justify-content: space-between;
                margin-top: 5em;
    
                .image-container {
                    max-width: 50%;
                }
    
                .about-me-details {
                    @include align;
                    max-width: 50%;
                    padding-left: 3em;
                    
                    .short-version {
                        display: flex;
                        width: 100%;
    
                        p {
                            padding-bottom: 1.5em;
                            text-align: justify;
                        }
                    }
    
                    .other-versions {
                        width: 100%;
    
                        p {
                            padding-bottom: 1.5em;
                            text-align: justify;
                        }
    
                        .read-more {
                            color: #FBBF00;
                            font-weight: 600;
                            transition: margin-left 0.3s ease;
    
                            &:hover {
                                margin-left: 1em;
                            }
                        }
    
                        img {
                            display: none;
                        }
    
                        a {
                            color: #FBBF00;
                            font-weight: 600;
    
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    
                    .downloadable-version {
                        width: 50%;
                        margin-top: 4em;
                        @include alignCenterRow;
                        position: absolute;
                        top: 120em;
                        left: 25%;
                        right: 25%;
                        display: none;
    
                        .cv-icon {
                            @include alignCenterRow;
                            border: solid 1px $font-color1;
                            width: 65%;
                            padding: 1em;
                            border-radius: 10px;
    
                            a {
                                @include alignCenterRow;
                                margin-right: 0.5em;
                                color: $font-color1;
                                transition: color 0.3s ease;
    
                                &:hover {
                                    cursor: pointer;
                                    color: #FBBF00;
                                }
                            }
    
                            img {
                                max-width: 4%;
                                height: auto;
                                min-width: 15px;
                                padding: 0.5em 0em;
    
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }   
        }
        
        
        /* End of About Section */

        /* Start of Skills Section */
    
        .skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            top: 130em;
            left: 5%;
            right: 5%;
            background-color: $hdr-ftr-bg;
            color: $font-color1;
            padding-bottom: 1em;

            p {
                font-size: 3rem;
                margin-bottom: 2em;
            }

            .tech-skills-a {
                display: flex;
                flex-direction: row;
                width: fit-content;
                height: auto;

                .group-a, .group-b {
                    width: fit-content;
                    display: flex;
                    padding: 1em;
                    

                    &:is(.group-a) {
                        padding-right: 0em;
                    }

                    img {
                        padding: 0em 1em;
                        width: 90%;
                    }
                }
            }

            .tech-skills-b {
                width: fit-content;
                height: auto;
                display: flex;
                flex-direction: row;

                .group-c, .group-d {
                    width: fit-content;
                    display: flex;
                    padding: 1em;
                    margin-bottom: 3em;

                    &:is(.group-c) {
                        padding-right: 0em;
                    }

                    img {
                        padding: 0em 1em;
                        width: 90%;
                    }
                }
            }
        }

        /* End of Skills Section */
        
        /* Start of Contact Section */
        
        
        #contact.contact {
            background-color: $font-color1;
            align-self: center;
            padding: 5em 0em 0em 0em;
    
            h3 {
                margin-bottom: 0.5em;
                font-weight: 600;
                text-align: center;
            }
    
            h4 {
                width: 90%;
                text-align: center;
                margin: auto;
                padding-bottom: 4em;
            }
            
            .contact-container {
                display: flex;
                justify-content: center;
                width: 100%;
                text-align: left;
    
                .contact-me {
                    color: $font-color1;
                    width: 50%;
                    text-align: left;
                    background-color: #000000;
                    padding: 8em 10% 5em 4em;
    
                    h3:first-of-type {
                        display: none;
                    }
    
                    h4:first-of-type {
                        display: none;
                    }
    
                    h4:last-of-type {
                        margin: auto;
                        padding-bottom: 6em;
                    }
    
                    .send-message {
                        display: none;
                        padding: 0.5em;
                        text-align: left;
    
                        @each $property, $value in $btn {
                            #{$property}: $value;
    
                            &:hover {
                                cursor: pointer;
                                background-color: #ffaa00;
                            }
                        }
                    }
    
                    .business-email, .business-phone {
                        display: flex;
                        align-items: center;
                        padding: 1em;
    
                        .email-icon {
                            max-width: 80%;
                            height: auto;
                            padding: 0em 1.5em 0em 0em;
    
                            img {
                                display: flex;
                                align-items: center;
                                max-width: 80%;
                                height: auto;
                            }
                        }
                        
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 100;
                            transition: margin-left 0.3s ease;
    
                            &:hover {
                                cursor: pointer;
                                margin-left: 1em;
                            }
                        }
    
                        .phone-icon {
                            display: flex;
                            padding: 0em 1.5em 0em 0em;
    
                            img {
                                max-width: 80%;
                                height: auto;
                            }
                        }
    
                        .phone-number-details {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                    }
    
                    .address2 {
                        display: flex;
                        padding: 0em 1em 1em 1em;
                        font-weight: 100;
    
                        img {
                            max-width: 80%;
                            height: auto;
                        }
    
                        strong {
                            transition: margin-left 0.3s ease-in-out;
    
                            &:hover {
                                cursor: pointer;
                                margin-left: 1em;
                            }
                        }
    
                        .address-icon {
                            display: flex;
                            align-items: center;
                            padding: 0em 1.5em 0em 0em;
                        }
                    }
                    
                    .social-links2 {
                        display: flex;
                        margin-bottom: 3em;
                        padding: 0em 1em 1em 1em;
    
                        .social-icon {
                            display: flex;
                            align-items: center;
                            
                            a:first-of-type, a:last-of-type {
                                margin-right: 0.5em;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: scale 0.2s ease-in-out;
    
                                &:hover {
                                    cursor: pointer;
                                    scale: 1.15;
                                }
    
                                img {
                                    width: 60%;
                                    height: auto;
                                }
                            }
                        }
    
                        .chat-icon {
                            display: flex;
                            align-items: center;
                            padding: 0em 0.9em 0em 0em;
    
                            img {
                                max-width: 80%;
                                height: auto;
                            }
                        }
                    }
                }
    
                .contact-details2 {
                    display: none;
                }
    
                .contact-form {
                    width: 50%;
                    padding: 8em 4em 5em 10%;
                    background-color: #000000;
                    color: $font-color1;
                    
                    h4 {
                        margin: auto;
                        margin-bottom: 0em;
                    }
    
                    form {
                        display: flex;
                        flex-direction: column;
                        color: $font-color1;
    
                        textarea, input {
                            background-color: #3d3d3d;
                            border: 2px solid $font-color1;
                            border-radius: 0.3em;
                        }
    
                        label {
                            padding-top: 1em;
                            padding-bottom: 0.5em;
                            color: $font-color1;
                        }
    
                        button {
                            margin-top: 2em;
                            text-align: center;
                            height: 54px;
                            max-width: 200px;
                            background-color: #FBBF00;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                            color: #000000;
                            font-weight: 600;
                            padding: 0.6em 1em;
                            transition: background-color 0.3s ease;
                            border-radius: 2em;
    
                            &:hover {
                                background-color: #ffaa00;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        
        .dev-process {
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            height: 2em;
            transition: height 0.3s ease;
            padding: 0em 10%;
            background-color: #000000;
        
            .icon {
                width: fit-content;
                @include alignCenter;
                position: absolute;
                transition: scale 0.1s ease;
                margin: auto;
        
                img {
                    width: 60%;
                    height: auto;
                    padding: 0.3em 0em;
                    transform: rotate(0deg);
                    transition: transform 0.3s ease;
                
                    &:focus {
                        outline: solid 2px blue;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        
            &.open {
                height: auto;
                transition: height 0.3s ease;
        
                .icon img {
                    transform: rotate(180deg);
                    transition-delay: 0.1s;
                }
            }
        
            p {
                width: 100%;
                padding: 3em 5% 2em;
                background-color: #000000;
                color: $font-color1;
            }
        }
        
        
        /* End of Contact Section */
        
        /* Start of Footer */
        
        
        footer {
            background-color: #16181a;
            color: $font-color1;
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0em 5% 0em 5%;
            transition: position 0.3s ease;
            z-index: 1;
            box-shadow: 0px -5px 10px 0px #3d3d3d;
    
            .footer-container {
                padding: 1em 0em;
                display: flex;
                justify-content: flex-start;
    
                address {
                    display: none;
                }
    
                .sitemap {
                    display: none;
                    justify-content: center;
                    font-size: 1.5rem;
                    align-items: center;
                    color: $font-color1;
                    transition: color 0.3s ease;
    
                    &:hover {
                        cursor: pointer;
                        color: #FBBF00;
                    }
                }
    
                .legal-regulations {
                    font-size: 1.5rem;
                    text-align: center;
                    width: 60%;
                    right: 20%;
    
                    strong {
                        color: $font-color1;
                        transition: color 0.3s ease;
    
                        &:hover {
                            cursor: pointer;
                            color: #FBBF00;
                        }
                    }
                }
    
                .social-links {
                    display: none;
                }
    
                .hire {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 1.5rem;
                    align-items: center;
                    width: 20%;
    
                    strong {
                        color: #FBBF00;
                        font-weight: 600;
                        transition: color 0.3s ease;
    
                        &:hover {
                            cursor: pointer;
                            color: #ffaa00;
                        }
                    }
                }
            }
    
            &.footer-fixed {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
        /* End of Footer */ 
    }   