@media screen and (min-width:451px) and (max-width:800px) {

    .container {
        width: 100%;
        @include align;

        /* Start of header */

        header {
            background-color: $hdr-ftr-bg;
            box-shadow: 0px 2px 4px rgba(87, 87, 87, 0.4);
            padding: 0.75em 0 0.75em 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3;
    
            .nav-section {
                align-items: center;
                color: $font-color1;
                display: flex;
                margin: auto;
                width: 90%;
    
                #logo {
                    z-index: 2;
                    @include alignCenterRow;
                  
                    img {
                        max-width: 33px;
                        height: auto;
                        min-width: 33px;
                        transition: transform 0.3s ease;
                    }
                }
    
                #menu-toggle {
                    display: none;
                }
                
                .hamburger {
                    display: none;
                }
    
                .slide-menu {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 2rem;
                    width: 100%;
    
                    .nav-bar-links {
                        @include alignCenterRow;
    
                        li {

                            a {
                                padding: 0.5em 0em 0.5em 0.5em;
                                margin-left: 1em;
                                color: $font-color1;
                                transition: color 0.3s ease;
                                font-size: 2rem;
                            }
                        }
    
                        .menu-send-message {
                            display: none;
                        }
                    }

                    .my-address {
                        display: none;
                    }
                }

                .mobile-footer {
                    display:  none;
                }
            }
        }
            
        
        /* End of Header Section */
    
        /* Start of Hero Section */

        .hero-section {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(220, 220, 220), rgb(186, 186, 186), rgb(160, 160, 160));
            @include alignCenter;
            
    
            .hero-container {
                color: $font-color1;
                margin: auto;
                margin-top: 0em;
                padding-top: 7em;
                width: $mobile-width;
                @include alignCenter;
                color: #16181a;
    
                .hero-details {
                    width: 100%;
                    @include align;
    
                    p, h2 {
                        margin-bottom: 0em;
                        &:is(h2) {
                            width: 100%;
                            margin-top: 1em;
                            font-size: 2rem;
                            animation: fadeIn 1.6s ease-in-out forwards;
                            text-align: justify;
                        }

                        &:is(p) {
                            font-size: 2rem;
                            margin-bottom: 1.5em;
                            animation: fadeIn 1.3s ease-in-out forwards;
                        }
                    }
                    
                    h1 {
                        font-size: 4.5rem;
                        font-weight: 600;
                        margin-bottom: 0em;
                        opacity: 0;
                        animation: fadeIn 1s ease-in-out forwards;
                    }
                    
                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateY(10px);
                        }
                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
    
                    .buttons {
                        display: none;
                    }
                }
    
                .hero-img {
                    opacity: 0;
                    filter: blur(10px); /* Initial blur effect */
                    margin: 1.5em 0em 2em;
                    width: 70%;
                    height: auto;
                    animation: fadeInAndBlurRemoval 0.8s ease-in-out 0.5s forwards;
                }
                
                @keyframes fadeInAndBlurRemoval {
                    from {
                        opacity: 0;
                        filter: blur(10px);
                    }
                    to {
                        opacity: 1;
                        filter: blur(0);
                    }
                }
            }
    
            #buttons2 {
                display: none;
            }
        }
    

        /* End of Hero Section */
    
        /* Start of Project Section */
    
    
        $carouselWidth: 100%;

        #projects.projects-section {
            background-color: rgb(160, 160, 160);
            @include align;
            padding: 0em 0em 5em;
            color: #16181a;

            h3 {
                font-size: 3.5rem;
                margin-top: 0.5em;
            }
        
            h4 {
                margin-top: 0.5em;
                margin-bottom: 5em;
                font-size: 2rem;
            }
        
            .featured-projects {
            overflow: hidden;
            width: 100%;
        
                .carousel {
                    display: flex;
                    width: $carouselWidth;
                    scroll-behavior: smooth;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    scroll-snap-type: x mandatory;
                    scrollbar-width: none;
                    &::-webkit-scrollbar {
                    display: none;
                    }
            
                    .project-a,
                    .project-b,
                    .project-c {
                    flex: 0 0 $carouselWidth;
                    scroll-snap-align: start;
                    padding: 0em 0em;
                    @include alignCenter;
                    min-width: 90%;

                        a {
                            display: block; /* Make the link a block-level element to cover the entire image */
                            text-decoration: none; /* Remove default link underline */
                        }
            
                        img {
                            max-width: 100%;
                            height: auto;
                            margin-bottom: 1em;
                            filter: blur(10px); /* Adjust the blur amount */
                        }
                
                        p {
                            display: flex;
                            text-align: center;
                            font-size: 2rem;
                            width: 90%;
                            justify-content: center;
                            text-align: justify;
                        }
                
                        .buttons-a,
                        .buttons-b,
                        .buttons-c {
                            display: none;
                        }
                        
                        .doc-options {
                            display: none;

                            a {
                                display: none;
                            }
                        }
                    }
                }
        
                .indicators {
                    display: flex;
                    justify-content: center;
                    margin-top: 3em;
                    margin-bottom: 1em;
            
                    .indicator {
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: gray;
                        margin: 0 5px;
                
                        &.active {
                            background-color: #16181a;
                        }
                    }
                }
            }

            h4:nth-of-type(2) {
                display: none;
            }

            .personal-projects {
                display: none;
            }

            h4:last-of-type {
                display: none;
            }
        }
        
        
        /* End of Project Section */
    
        /* Start of About Section */
    
    
        #aboutmyself.aboutmyself {
            color: $font-color1;
            padding: 5em 0em;
            background-color: $hdr-ftr-bg;
            @include alignCenter;
    
            h3 {
                font-size: 3rem;
                font-weight: 300
            }

            h4 {
                margin: 0.5em 0em 2em;
                font-size: 2rem;
            }
    
            .about-me-container {
                @include alignCenter;

                .image-container {
                    display: flex;
                    margin-bottom: 2em;
                    width: 90%;
                }
    
                .about-me-details {
                    @include alignCenter;

                    .short-version {
                        
                        .about {
                            @include alignCenter;

                            p {
                                @include aboutpara;
                                margin-bottom: 1.5em;
                                font-size: 2rem;
                                text-align: justify;
                            }
                        }
                    }
    
                    .other-versions {

                        .somewhat-long {
                            @include alignCenter;

                            p {
                                @include aboutpara;
                                font-size: 2rem;
                                text-align: justify;
                                margin-bottom: 0em;

                                span {
                                    word-break: break-all;
                                }
                            }
                    
                            .read-more {
                                color: #FBBF00;
                                font-weight: 300;
                            }
                    
                            img {
                                display: none;
                            }
                        }
                    }
                    
                    .downloadable-version {
                        
                        display: none;

                        .cv-icon {
                            @include alignCenterRow;
    
                            a {
                                margin-right: 0.5em;
                                color: #FBBF00;
                                font-weight: 300;
                                font-size: 2rem;
                            }
    
                            img {
                                max-width: 3.5%;
                            }
                        }
                    }
                }
            }
        }

    
        /* End of About Section */

        /* Start of Skills Section */
    
        .skills {
            @include alignCenter;
            padding: 1em 1em 5em;
            background-color: $hdr-ftr-bg;
            color: $font-color1;

            p {
                font-size: 2.5rem;
                margin-bottom: 2em;
            }

            .tech-skills-a {
                display: flex;
                width: 100%;
                height: auto;

                .group-a, .group-b {
                    @include alignCenterRow;

                    img {
                        padding: 1em;
                        width: 100%;
                    }
                }
            }

            .tech-skills-b {
                width: 100%;
                height: auto;
                @include alignFlexRow;

                .group-c, .group-d {
                    @include alignCenterRow;

                    img {
                        padding: 1em;
                        width: 100%;
                    }
                }
            }
        }

        /* End of Skills Section */
    
        /* Start of Contact Section */
            
            
        #contact.contact {
            background-color: $font-color1;
            align-self: center;
            padding: 4em 0em 0em 0em;
    
            h3 {
                margin-bottom: 0.25em;
                @media screen and (max-width:210px) {
                    word-break: break-all;
                }
            }

            h3:first-of-type {
                padding: 0em 0.5em;
            }
    
            h4 {
                width: $mobile-width;
                margin: auto;
                padding-bottom: 4em;
                font-size: 2rem;
            }
            
            .contact-container {
                @include alignCenter;
                width: 100%;
                color: $font-color1;

                .contact-form {
                    width: 100%;
                    height: auto;
                    padding: 5em 10% 2.5em 10%;
                    background-color: $hdr-ftr-bg;

                    h3 {
                        margin-bottom: 0.25em;
                        @include alignCenterRow;
                        font-size: 3rem;
                    }
                    
                    h4 {
                        width: 100%;
                        padding-bottom: 3em;
                    }
    
                    form {
                        @include align;
    
                        textarea, input {
                            background-color: #3d3d3d;
                            border: 2px solid $font-color1;
                            border-radius: 0.3em;
                            text-align: left;
                        }
    
                        label {
                            padding: 1em 0em 0.5em;
                            text-align: left;
                            font-size: 2rem;
                        }

                        ::placeholder {
                            font-size: 2rem;
                            text-align: left;
                            padding-left: 0.5em;
                        }
    
                        button {
                            @each $property, $value in $btn-mobile {
                                #{$property}: $value;
                            }
                            margin-top: 5em;
                            box-shadow: 0px 2px 4px rgba(161, 165, 161, 0.718);
                            font-size: 2rem;
                        }
                    }
                }
    
                .contact-me {
                    width: 100%;
                    background-color: $hdr-ftr-bg;
                    padding: 2.5em 0% 2.5em;
    
                    h3:first-of-type {
                        display: none;
                    }
    
                    h4:first-of-type {
                        display: none;
                    }

                    h3:last-of-type {
                        margin-bottom: 0.25em;
                        @include alignCenterRow;
                    }
    
                    h4:last-of-type {
                        margin: auto;
                        padding-bottom: 8em;
                    }
    
                    .contact-links {
                        @include alignCenter;
                        padding: 0em 3em;
                        font-size: 2rem;
    
                        .business-phone {
                            @include myContact1(padding 1em 1em);

                            .phone-icon {
                                @include alignCenterRow;
                                @include contactIcons;
                                background-color: $hdr-ftr-bg;
        
                                img {
                                    @include contactLinksImg;
                                }
                            }
        
                            .phone-number-details {
                                @include alignCenterRow;
                                padding: 1em;
                            }
                        }

                        .business-email {
                            @include myContact1(padding 1em 1em);
        
                            .email-icon {
                                @include alignCenter;
                                @include contactIcons;
                                background-color: $hdr-ftr-bg;
        
                                img {
                                    @include alignCenter;
                                    @include contactLinksImg;
                                }
                            }

                            @media screen and (max-width:335px) {
                                .my-email {
                                    word-break: break-all;
                                }
                            }

                            .my-email {
                                padding: 1em;
                            }
                        }
        
                        .address2 {
                            @include myContact1(padding 1.5em 1em);
        
                            .address-icon {
                                @include alignCenter;
                                @include contactIcons;
                                background-color: $hdr-ftr-bg;
        
                                img {
                                    @include contactLinksImg;
                                }
                            }

                            .local-address {
                                padding: 1em;
                            }
                        }
                        
                        .social-links2 {
                            display: none;
                        }
                    }
                }
            }
        }


        /* End of Contact Section */

        /* Start of Dropdown portion */
    

        .dev-process {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 2em;
            transition: height 0.3s ease;
            font-size: 2rem;
            overflow: hidden;
        
            .icon {
                width: fit-content;
                @include alignCenter;
                position: absolute;
                transition: scale 0.1s ease;
                margin: auto;
        
                img {
                    width: 50%;
                    height: auto;
                    padding: 0.2em 0em;
                    text-align: center;
                    transform: rotate(0deg);
                    transition: transform 0.3s ease;
                }
            }

            p {
                width: 100%;
                padding: 3em 5% 2em;
                background-color: $hdr-ftr-bg;
                color: $font-color1;
                bottom: -100%;
                right: 0;
                z-index: -1;
                text-align: justify;
            }
        
            &.open {
                height: auto;
                transition: height 0.3s ease;
        
                .icon img {
                    transform: rotate(180deg);
                    transition-delay: 0.1s;
                }
            }
        }
        
        
        /* End of Dropdown portion */
    
        /* Start of Footer */
    
    
        footer {
            background-color: #16181a;
            color: $font-color1;
            padding: 0em 1.5em;
            box-shadow: 0px -5px 10px 0px #3d3d3d;
    
            .footer-container {
                padding: 2em 0em;
                @include alignCenter;
                font-size: 1.7rem;
    
                .sitemap {
                    display: none;
                }
    
                .social-links {
                    display: none;
                }

                address {
                    display: none;
                }
    
                .hire {
                    display: flex;
                    color: #FBBF00;
                    font-weight: 600;
                    margin-bottom: 2em;
                    font-size: 2rem;
                }

                .legal-regulations {
                    font-size: 2rem;

                    strong {
                        color: #FBBF00;
                        font-weight: 600;
                    }
    
                    #zip {
                        color: #efefef;
                        font-weight: 300;
                    }
                }
            }
        }/* End of Footer */
    }
}


    

