$mobile-font: 2rem;
$h3: 2rem;
$mobile-font-h4: 2.5rem;
$hdr-ftr-bg: #16181a;
$mobile-width: 90%;
$font-color1: #efefef;
$focus: 2px solid white;
$carouselWidth: 100%;
$btn: (
  align-self: center,
  background-color: #FBBF00,
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
  color: #000000,
  font-weight: 600,
  padding: 0.6em 1em,
  transition: background-color 0.3s ease,
  width: 10em,
  border-radius: 2em,
  font-size: 2rem,
  margin-right: 1.5em,
);
$btn-single: (
    align-self: center,
    background-color: transparent,
    box-shadow: none,
    color: #FBBF00,
    font-weight: 100,
    padding: 0.6em 1em,
    width: 10em,
    border-radius: 2em,
    font-size: 2rem,
);

@mixin mobileFontH3 {
    font-size: 3rem;
    font-weight: 600;
}

@mixin myMixin {
  width: 100%;
  height: auto;
  padding: 1em;
}

@mixin align {
    display: flex;
    flex-direction: column;
}

@mixin alignCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin contactIcons {
    padding: 0em 1em;
    position: absolute;
    top: -2em;
    background-color: #000000;
}

@mixin alignCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignFlexRow {
  display: flex;
  align-items: center;
}

@mixin alignFlexColumn {
  display: flex;
  flex-direction: column;
}

@mixin contactLinksImg {
    max-width: 100%;
    height: auto;
    min-width: 40px;
}

@mixin myContact1($padding) {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 1em;
  width: 100%;
  margin: auto;
  position: relative;
  border: 2px solid #fbc0003f;
  border-radius: 10px;
  margin-bottom: 4em;
}

@mixin aboutpara {
    width: 90%;
    margin-bottom: 5em;
    line-height: 1.5;
}



